{% extends "header.html" %}

{% block bg_style %}

<style>
body {
            background: url('/static/images/notfound2.jpg')no-repeat center center fixed;
       
           
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;  
           
        }
</style>


{% endblock %}

{% block body %} 

<h2 align="center" style="margin-top: 400 px" color="white"> SORRY</h2>
<h2 align="center" style="margin-top: 50 px" color="white"> The Website is still under construction. </h2>

<h2 align="center" style="margin-top: 50 px"><a href="/"><button type="button" class="btn btn-primary">BACK TO HOME</button></a></h2>

{% endblock %}
